 
*{
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    
}

 h1 {
    text-align: center;
    font-size: 80px;
    color: rgba(225, 166, 107, 0.96);
    border-bottom: 5px solid rgba(71, 65, 179, 0.6);
}
 
#container{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    height: 100%;
    width: auto;
    padding: 50px;
    border-radius: 20px;
    margin: 5%;


}







 .pokemon span{
    
    text-align: center;
} 
.pokemon img{
    display: block;
}

.Gen1{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 20px 5px;
    border-radius: 60px;
}
.Gen1 .pokemon{
    display: inline-block;
    text-align: center;
    margin: 6px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 9px;
    
}

.Gen2{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 20px 5px;
    border-radius: 50px;
}
.Gen2 .pokemon{
    display: inline-block;
    text-align: center;
    margin: 5px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 9px;
    
}

.Gen3{
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 20px 5px;
    border-radius: 60px;
}
.Gen3 .pokemon{
    display: inline-block;
    text-align: center;
    margin: 5px;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 9px;
    
}

.gen1head  {
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 60px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.gen2head  {
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 10px;
    border-radius: 60px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.gen3head  {
    background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
    padding: 10px;
    border-radius: 60px;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.btn{
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    border: none;
    width: 400px;
    padding: 20px;
    margin-top: 10px;
    border-radius: 20px;
    font-style: bold;
    font-size: 20px;
    color: azure;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    transform: translateX(5px) translateY(-7px);
    background: linear-gradient(90deg, #fcf7fe 0%, #efd5ff 100%);
    color:  #182848 ;
    
}

@media only screen and (max-width: 950px) {
    .btn{
        width: auto;
    }
  }